.octicon {
background-position: center left;
background-repeat: no-repeat;
padding-left: 16px;
}
.reply {
background-image: linear-gradient(transparent,transparent),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAMAAAARSr4IAAAAeFBMVEUAAACAgIBVqqqAgL+AkraAj697lbB8lrF7k6x+la1+lK5+la59k659la19la58la19lK58la99lK59lK1+la5+lK19k659la1+lK5+lK99lK19k659lK59lK59la99lK5+lK5+lK1+lK59lK59lK59lK59lK7///+yznbQAAAAJnRSTlMAAgMEDhAdJzRBX2Voanh9fn+Bg4SGh4mKjJmhp7q7v8HFydjx/b/b+a0AAAABYktHRCctD6gjAAAAXElEQVQIHX3BRxLCMAAAsSWE3nsn1P3/E7E9ZHAuSCRTcjvJ7JWfmTru8zU3eQ5bBANrl5Jgae3WJliph9P9rQuitQK9yleHaCNBcXREsiUqrmdy3QcNExpK/voA8ZEItj9lCn0AAAAASUVORK5CYII=");
}
.file {
background-image: linear-gradient(transparent,transparent),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAALVBMVEUAAACAkq2AkaqAlbF+k61+lK59lK5+lK5+lK59lK19lK59lK59lK59lK7///94FNP0AAAADXRSTlMAHB4kgIi/wcPb3N/iJ7nCaQAAAAFiS0dEDm+9ME8AAAA2SURBVAjXY2CAgNy7d+9OZGC4AGRGKYAplsMMF+7eZWCIBvMYeOEUUOUF4ngQqhcoePc61B4A1WogLkcr910AAAAASUVORK5CYII=");
}
.file-zip {
background-image: linear-gradient(transparent,transparent),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAMAAAAVv241AAAAM1BMVEUAAACAkq2Akap7lK17lK18lKx+lK59lK5+lK5+lK59lK19lK59lK59lK59lK59lK7///+xudmjAAAAD3RSTlMAHB4fPkqIv8HD29zd3+A2GAq6AAAAAWJLR0QQlbINLAAAAEFJREFUCB0FwYcBgDAAwCBcdZv/vxUAgL2quiaEMO6ZIIxnEQLjFQQSAhIEEgISa88GiYsPElWQAEgA5KyqqgMA/F0fA3rVuoUZAAAAAElFTkSuQmCC");
}
.file-media {
background-image: linear-gradient(transparent,transparent),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAMAAAAVv241AAAASFBMVEUAAACAmbOAkq2AkaqAlbGAlK59k618la58lK58k65+k61+lK59lK59lK5+lK5+lK59lK19lK59lK59lK99lK59lK59lK7////0+4niAAAAFnRSTlMAChweJCY7SHd7gIizv8HD29zf4eL43qOWEgAAAAFiS0dEFwvWmI8AAABOSURBVAgdVcEHEkAwAADB0wnR3f+fatRhl5/oZUwBubRTBnILa4482hk5KCByUEDkJUJVchJJlshJpNGSugax2DQGDYidtyB+MPjq+doBOD4G5atFHdAAAAAASUVORK5CYII=");
}
.file-directory {
background-image: linear-gradient(transparent,transparent),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAYAAAAmlE46AAAABmJLR0QA/wD/AP+gvaeTAAAATElEQVQokWNgoDdgrJ2ybj8DA4MDFrlrzTlB2jh11k5Z958UcWQb8SrAAfYxkaGJgYGBwYlcjQyjGmmikZGB4QipmhgZGA6RayH5AACLIg/XosT5EgAAAABJRU5ErkJggg==");
}
.bookmark {
background-image: linear-gradient(transparent,transparent),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAMAAAAYoR5yAAAAYFBMVEUAAACAgICAlap6ma19kq59krB7lK18la5+k65+la99k69+lK19la59lK99la58k659la59lK19lK59lK19lK59lK59lK59lK59lK59lK59lK59lK59lK59lK59lK7///9ZwL50AAAAHnRSTlMAAhgZLz0+UlVZXF1eZqOmqsjZ2+rs7fH3+Pn6+/1Z+ItmAAAAAWJLR0QfBQ0QvQAAAFFJREFUCB0FwYUBwgAAwLAOZ7h7/j+TpAvAOXi+INgfIFiuILd51eIuvpvafgnryWSNeI/X6/ghAAIgAAIg+P0gnGazE/LYDTXsHjpOq2p6/ANPqw6TnVNdgQAAAABJRU5ErkJggg==");
}
.external {
background-position: center right;
background-repeat: no-repeat;
background-image: linear-gradient(transparent,transparent),url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAABAElEQVQokZ2Qv0rDcBSFvxuiIojWSRDcOgviAwjOARGskzhJMvnnCdxcnCq6qDjZRQcfQFALTkJbN9EOjo5uEVqS33EI1bTpomc89557Pw78UVZwKhqlxDXGSmF2ZsV9Qh1uXEhJqh85JxFKAN6Qrwe1J1pRLYeRu+sDWNhIzDJbatvYSNnWFvtvmYF+MRrqJk63L06lXemmlaHU36S9qwzJizIkv5f5jI3KKVTXYXUB6m0IThxxx/uIu8x6xrPLB2YmYT+A4weYGoetS/jqvIu0vHT+SJWUTfJIPR3dSRPb0v2rkxc108FG/EFjZxmCeZibHtJfPmBRszDsK+a/+gakjnkHYspRSgAAAABJRU5ErkJggg==");
padding-right: 13px;
}
