[Unit]
Description=consul-template

[Service]
Type=simple
ExecStart=/bin/bash -c 'exec ./consul-template -config=$(pwd)/consul-template.conf &>> $(pwd)/log/consul-template.log'
WorkingDirectory=/opt/consul
#Restart=always
#RestartSec=3

[Install]
WantedBy=multi-user.target
